<template>
    <div class="container-fluid px-lg-5">
        <div class="card shadow">
            <div class="card-body">
                <form @submit.prevent="create">

                    <div class="form-group row">
                        <div class="col-lg">
                            <label for="name">Name <abbr title="Required">*</abbr></label>
                            <input type="text" name="name" id="name" class="form-control" :class="{ 'is-invalid': form.errors.has('name') }" v-model="form.name">
                            <span class="invalid-feedback" role="alert" v-if="form.errors.has('name')">
                                {{ form.errors.first('name') }}
                            </span>
                        </div>
                        <div class="col-xl">
                            <label for="slug">Slug <abbr title="Required">*</abbr></label>
                            <div class="input-group" :class="{ 'is-invalid': form.errors.has('slug') }">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">ark.game-registry.com/categories/</span>
                                </div>
                                <input type="text" name="slug" id="slug" class="form-control" v-model="form.slug">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" @click="form.slug = form.name.toLowerCase().replace(/[^0-9a-zA-Z-\s]/g, '').replace(/\s+/g, '-')">Generate based on name</button>
                                </div>
                            </div>
                            <span class="invalid-feedback" role="alert" v-if="form.errors.has('slug')">
                                {{ form.errors.first('slug') }}
                            </span>
                            <small class="text-muted">Only alphanumeric characters and dashes are allowed.</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editor">Description</label>
                        <markdown-editor v-model="form.description" name="description" :class="{ 'is-invalid': form.errors.has('description') }"></markdown-editor>
                        <span class="invalid-feedback" role="alert" v-if="form.errors.has('description')">
                                {{ form.errors.first('description') }}
                            </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-right" :disabled="form.processing">
                            <span v-if="!form.processing">Submit</span>

                            <span v-if="form.processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span v-if="form.processing">Please wait...</span>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'form-backend-validation';
    import axios from '~/plugins/axios';
    import Toast from 'izitoast';
    import config from '~/config';

    export default {
        data() {
            return {
                editor: null,
                form: new Form({
                    name: '',
                    slug: '',
                    description: '',
                }, {
                    resetOnSuccess: false,
                    http: axios.create({
                        baseURL: config.apiURL,
                    }),
                }),
            };
        },

        async mounted() {
            try {
                let {data} = await axios.get(`/categories/${this.$route.params.slug}`);
                let keys = Object.keys(this.form);

                Object.entries(data).forEach(entry => {
                    if (keys.includes(entry[0]) && entry[1]) this.form[entry[0]] = entry[1];
                });

            } catch (e) {
                return await this.$router.push({name: 'errors/not-found'})
            }
        },

        methods: {
            async create() {
                try {
                    let response = await this.form.patch(`/categories/${this.$route.params.slug}/edit`);

                    Toast.show({
                        title: 'Category edited.',
                        message: `A moderator will have to review this before changes are visible.`,
                        color: 'green',
                    });

                } catch (e) {
                    if (!e.message.includes('422')) {
                        Toast.show({
                            title: 'Something went wrong...',
                            message: 'Could not edit category, contact support if this issue persists.',
                            color: 'red',
                        });
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>