<template>
    <div>
        <h1>Merge requests</h1>
        <hr>
        <div class="table-responsive">
            <table class="table table-borderless table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>User</th>
                        <th>Type</th>
                        <th>Completed</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="inner">
                <tr v-for="request in merges" :key="request.id">
                    <th>{{ request.id }}</th>
                    <td>{{ request.user.name }}</td>
                    <td>{{ request.model }}</td>
                    <td>
                        <i class="fas fa-check text-success" v-if="!!request.merge"></i>
                        <i class="fas fa-times text-danger" v-else></i>
                    </td>
                    <td>
                        <a href="Index.vue" class="text-info">View</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                merges: []
            }
        },
        async mounted() {
            let req = await fetch('/dashboard/merges/json');
            let res = await req.json();
            this.merges = res.data;
        }
    }
</script>