<template>
    <div class="main">
        <navbar></navbar>

        <div class="py-5">
            <router-view></router-view>
        </div>

        <bottom></bottom>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {

        computed: mapGetters({
            // We need this here to make sure we only show the router-view tag when a bot exists. Otherwise
            // it's going to complain if we directly open one of the pages that use this layout
            user: 'auth/user',
        })
    }
</script>
