@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

//body
$font-family-base: 'Baloo Da 2', cursive;

// cards
$card-border-width: 0;

//input
$input-border-color: #e6e6ea;
$input-bg: #e6e6ea;

h1 {
  font-size: 2rem !important;
}