@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~v-markdown-editor/dist/v-markdown-editor.css";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~izitoast/dist/css/iziToast.css';
@import "~bootstrap-vue/src/index";

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.input-group.is-invalid {
  .input-group-text, .btn, .form-control {
    border-color: $danger !important;
  }
}