<template>
    <footer class="bg-secondary py-3 mt-auto">
        <div class="container-fluid px-md-5">
            <div class="row">
                <div class="col-md">
                    <img src="/favicon.png" alt="ark wiki" class="img-fluid" width="64">
                    ARK Game Registry is part of <a href="#">Delta Velorum</a>
                </div>
                <div class="col-md"></div>
                <div class="col-md"></div>
            </div>
        </div>
    </footer>
</template>