<template>
    <div>
        <hr>
        <h3>Metadata</h3>
        <p>
            Some items have other abilities, for example: weapons do damage, meaning they deal damage per second (DPS),
            you can add these things here. Metadata may also be booleans, if a creature can be tamed, you can put "Tamable - Yes"
        </p>
        <button type="button" @click="add" class="btn btn-sm btn-success">Add field</button>
        <div v-for="(field, index) in fields" class="form-group row">
            <div class="col-lg-3">
                <label :for="`metadata[${index}][name]`">Name</label>
                <input type="text" :name="`metadata[${index}][name]`" :id="`metadata[${index}][name]`" class="form-control" v-model="fields[index].name">
            </div>
            <div class="col-lg-3">
                <label :for="`metadata[${index}][type]`">Type</label>
                <select :name="`metadata[${index}][type]`" :id="`metadata[${index}][type]`" class="form-control" v-model="fields[index].type">
                    <option value="string">String</option>
                    <option value="numeric">Numeric</option>
                    <option value="boolean">Boolean</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label :for="`metadata[${index}][value]`">Value</label>
                <input type="text" :name="`metadata[${index}][value]`" :id="`metadata[${index}][value]`" class="form-control" v-model="fields[index].value" v-if="fields[index].type !== 'boolean'">
                <select :name="`metadata[${index}][value]`" :id="`metadata[${index}][value`" class="form-control" v-model="fields[index].value" v-else>
                    <option value="" disabled>Choose one</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="col-lg d-flex">
                <button class="btn btn-danger w-100 mt-auto" @click="remove(index)" type="button">Remove</button>
            </div>
        </div>
        <hr>
    </div>
</template>

<script>
    export default {
        props: ['old'],
        data() {
            return {
                fields: []
            }
        },
        async mounted() {
            console.log(this.errors);
            if (Array.isArray(this.old)) {
                this.old.forEach(x => {
                   this.fields.push(x)
                });
            }
        },
        methods: {
            add() {
                this.fields.push({
                    name: '',
                    value: '',
                    type: 'string',
                })
            },
            remove(index) {
                this.fields.splice(index, 1)
            }
        }
    }
</script>