<template>
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-lg-4 mx-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h1>Request password reset</h1>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="reset">
                            <div class="form-group row">
                                <label for="reset-email" class="col-2 col-sm-1 col-form-label text-center"><i class="fas fa-envelope"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="reset-email" type="text" class="form-control" :class="{'is-invalid': form.errors.has('email')}" name="email" autocomplete="email" placeholder="john@example.com" v-model="form.email">

                                    <span class="invalid-feedback" role="alert" v-if="form.errors.has('email')">
                                    <strong>{{ form.errors.first('email') }}</strong>
                                    </span>
                                    <small class="text-muted">
                                        If you have forgotten your email address, please contact support through discord.
                                    </small>
                                </div>
                            </div>

                            <button class="btn btn-primary float-right" :disabled="form.processing">
                                <span v-if="!form.processing">Request reset</span>

                                <span v-if="form.processing" class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
                                <span v-if="form.processing">Please wait...</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'form-backend-validation';
    import axios from '~/plugins/axios';
    import Toast from 'izitoast';
    import config from '~/config';
    import {mapGetters} from "vuex";

    export default {
        data() {
            return {
                editor: null,
                form: new Form({
                    email: '',
                }, {
                    http: axios.create({
                        baseURL: config.baseURL,
                    }),
                }),
            };
        },

        computed: mapGetters({
            user: 'auth/user',
        }),

        async mounted() {
            await this.$store.dispatch('auth/fetchUser');

            if (this.user) {
                this.form.email = this.user.email;
            }
        },

        methods: {
            async reset() {
                try {
                    let response = await this.form.post('/password/email');

                    Toast.show({
                        title: 'E-mail sent.',
                        message: response.message,
                        color: 'green',
                    });

                } catch (e) {
                    console.log(e);
                    if (!e.message.includes('422')) {
                        Toast.show({
                            title: 'Something went wrong...',
                            message: 'Could not request reset, contact support if this issue persists.',
                            color: 'red',
                        });
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>