<template>
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 ml-auto mb-4 mb-md-0">
                <div class="card shadow">
                    <div class="card-header">
                        <h1>Existing user</h1>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="login">
                            <div class="form-group row">
                                <label for="login-name" class="col-2 col-sm-1 col-form-label"><i class="fas fa-user"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="login-name" type="text" class="form-control" :class="{'is-invalid': forms.login.errors.has('name')}" name="name" autocomplete="name" placeholder="Username" v-model="forms.login.name">

                                    <span class="invalid-feedback" role="alert" v-if="forms.login.errors.has('name')">
                                    <strong>{{ forms.login.errors.first('name') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="login-password" class="col-2 col-sm-1 col-form-label"><i class="fas fa-key"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="login-password" type="password" class="form-control" :class="{'is-invalid': forms.login.errors.has('password')}" name="password" autocomplete="password" placeholder="Password" v-model="forms.login.password">

                                    <span class="invalid-feedback" role="alert" v-if="forms.login.errors.has('password')">
                                    <strong>{{ forms.login.errors.first('password') }}</strong>
                                </span>
                                </div>
                            </div>

                            <button class="btn btn-primary float-right" :disabled="forms.login.processing">
                                <span v-if="!forms.login.processing">Login</span>

                                <span v-if="forms.login.processing" class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
                                <span v-if="forms.login.processing">Logging you in...</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4 mr-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h1>New user</h1>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="register">
                            <div class="form-group row">
                                <label for="register-name" class="col-2 col-sm-1 col-form-label"><i class="fas fa-user"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="register-name" type="text" class="form-control" :class="{'is-invalid': forms.register.errors.has('name')}" name="name" autocomplete="name" placeholder="Username" v-model="forms.register.name">

                                    <span class="invalid-feedback" role="alert" v-if="forms.register.errors.has('name')">
                                    <strong>{{ forms.register.errors.first('name') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="register-email" class="col-2 col-sm-1 col-form-label"><i class="fas fa-envelope"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="register-email" type="email" class="form-control" :class="{'is-invalid': forms.register.errors.has('email')}" name="name" autocomplete="email" placeholder="E-mail address" v-model="forms.register.email">

                                    <span class="invalid-feedback" role="alert" v-if="forms.register.errors.has('name')">
                                    <strong>{{ forms.register.errors.first('name') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="register-password" class="col-2 col-sm-1 col-form-label"><i class="fas fa-key"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="register-password" type="password" class="form-control" :class="{'is-invalid': forms.register.errors.has('password')}" name="password" autocomplete="password" placeholder="Password" v-model="forms.register.password">

                                    <span class="invalid-feedback" role="alert" v-if="forms.register.errors.has('password')">
                                    <strong>{{ forms.register.errors.first('password') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="confirm-password" class="col-2 col-sm-1 col-form-label"><i class="fas fa-key"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="confirm-password" type="password" class="form-control" :class="{'is-invalid': forms.register.errors.has('password_confirmation')}" name="password_confirmation" autocomplete="off" placeholder="Repeat password" v-model="forms.register.password_confirmation">

                                    <span class="invalid-feedback" role="alert" v-if="forms.register.errors.has('password_confirmation')">
                                    <strong>{{ forms.register.errors.first('password_confirmation') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary float-right" :disabled="forms.register.processing">
                                    <span v-if="!forms.register.processing">Create account</span>

                                    <span v-if="forms.register.processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    <span v-if="forms.register.processing">Creating account...</span>
                                </button>
                                <small class="text-muted">By clicking Create account you agree to our <a href="#">terms of service</a>.</small>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'form-backend-validation';
    import axios from '~/plugins/axios';
    import Toast from 'izitoast';
    import config from '~/config';
    import {mapGetters} from "vuex";

    export default {
        data() {
            return {
                editor: null,
                forms: {
                    login: new Form({
                        name: '',
                        password: '',
                    }, {
                        http: axios.create({
                            baseURL: config.baseURL,
                        }),
                    }),
                    register: new Form({
                        name: '',
                        email: '',
                        password: '',
                        password_confirmation: '',
                    }, {
                        http: axios.create({
                            baseURL: config.baseURL,
                        }),
                    }),
                }
            };
        },

        computed: mapGetters({
            user: 'auth/user',
        }),

        methods: {
            async login() {
                try {
                    let response = await this.forms.login.post('/login');

                    Toast.show({
                        title: 'Welcome back!',
                        message: `Successfully logged in as ${response.name}. Redirecting you back to home...`,
                        color: 'green',
                    });

                    setTimeout(async () => {
                        await this.$router.push('/');
                    }, 15e2);

                } catch (e) {
                    console.log(e);
                    if (!e.message.includes('422')) {
                        Toast.show({
                            title: 'Something went wrong...',
                            message: 'Login attempt failed, contact support if this issue persists.',
                            color: 'red',
                        });
                    }
                }
            },
            async register() {
                try {
                    let response = await this.forms.register.post('/register');

                    Toast.show({
                        title: 'Welcome!',
                        message: `Welcome to the game registry ${response.name}. Redirecting you back to home...`,
                        color: 'green',
                    });

                    setTimeout(async () => {
                        await this.$router.push('/');
                    }, 15e2);

                } catch (e) {
                    console.log(e);
                    if (!e.message.includes('422')) {
                        Toast.show({
                            title: 'Something went wrong...',
                            message: 'Register attempt failed, contact support if this issue persists.',
                            color: 'red',
                        });
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>