<template>
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-lg-4 mx-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h1>Reset password</h1>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="reset">
                            <div class="form-group row">
                                <label for="register-email" class="col-2 col-sm-1 col-form-label"><i class="fas fa-envelope"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="register-email" type="email" class="form-control" :class="{'is-invalid': form.errors.has('email')}" name="name" autocomplete="email" placeholder="Email address" v-model="form.email">

                                    <span class="invalid-feedback" role="alert" v-if="form.errors.has('name')">
                                    <strong>{{ form.errors.first('name') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="register-password" class="col-2 col-sm-1 col-form-label"><i class="fas fa-key"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="register-password" type="password" class="form-control" :class="{'is-invalid': form.errors.has('password')}" name="password" autocomplete="password" placeholder="Password" v-model="form.password">

                                    <span class="invalid-feedback" role="alert" v-if="form.errors.has('password')">
                                    <strong>{{ form.errors.first('password') }}</strong>
                                </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="confirm-password" class="col-2 col-sm-1 col-form-label"><i class="fas fa-key"></i></label>
                                <div class="col-10 col-sm-11">
                                    <input id="confirm-password" type="password" class="form-control" :class="{'is-invalid': form.errors.has('password_confirmation')}" name="password_confirmation" autocomplete="off" placeholder="Repeat password" v-model="form.password_confirmation">

                                    <span class="invalid-feedback" role="alert" v-if="form.errors.has('password_confirmation')">
                                    <strong>{{ form.errors.first('password_confirmation') }}</strong>
                                </span>
                                </div>
                            </div>

                            <button class="btn btn-primary float-right" :disabled="form.processing">
                                <span v-if="!form.processing">Reset password</span>

                                <span v-if="form.processing" class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
                                <span v-if="form.processing">Please wait...</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'form-backend-validation';
    import axios from '~/plugins/axios';
    import Toast from 'izitoast';
    import config from '~/config';
    import {mapGetters} from "vuex";

    export default {
        data() {
            return {
                editor: null,
                form: new Form({
                    email: '',
                    password: '',
                    password_confirmation: '',
                    token: this.$route.params.token
                }, {
                    http: axios.create({
                        baseURL: config.baseURL,
                    }),
                }),
            };
        },

        computed: mapGetters({
            user: 'auth/user',
        }),

        async mounted() {
            if (!this.$route.params.token || this.$route.params.token.length < 16) return await this.$router.push({name: 'errors/not-found'});
            if (this.user) {
                this.form.email = this.user.email;
            }
        },

        methods: {
            async reset() {
                try {
                    let response = await this.form.post('/password/reset');

                    Toast.show({
                        title: 'Reset successful.',
                        message: response.message,
                        color: 'green',
                    });

                } catch (e) {
                    console.log(e);
                    if (!e.message.includes('422')) {
                        Toast.show({
                            title: 'Something went wrong...',
                            message: 'Could not reset password, contact support if this issue persists.',
                            color: 'red',
                        });
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>