<template>
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-lg-4 mx-auto">
                <div class="card shadow">
                    <div class="card-header">
                        <h1>Verify your email address</h1>
                    </div>
                    <div class="card-body">
                        <form @submit.prevent="resend">
                            <p>
                                Before proceeding, please check your email for a verification link.
                            </p>
                            <p>
                                If you did not receive the email, check your spam box or click the button to send a new email
                            </p>
                            <button class="btn btn-primary float-right" :disabled="form.processing">
                                <span v-if="!form.processing">Resend email</span>

                                <span v-if="form.processing" class="spinner-border spinner-border-sm mb-1" role="status" aria-hidden="true"></span>
                                <span v-if="form.processing">Please wait...</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Form from 'form-backend-validation';
    import axios from '~/plugins/axios';
    import Toast from 'izitoast';
    import config from '~/config';
    import {mapGetters} from "vuex";

    export default {
        data() {
            return {
                form: new Form({}, {
                    http: axios.create({
                        baseURL: config.baseURL,
                    }),
                }),
            };
        },

        methods: {
            async resend() {
                try {
                    let response = await this.form.patch('/email/resend');

                    Toast.show({
                        title: 'Email sent.',
                        message: 'Check your inbox and or spam box.',
                        color: 'green',
                    });

                } catch (e) {
                    console.log(e);
                    if (!e.message.includes('422')) {
                        Toast.show({
                            title: 'Something went wrong...',
                            message: 'Could not send email, contact support if this issue persists.',
                            color: 'red',
                        });
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>